@media screen and (min-width: 576px;) {
    .nav-left {
        font-size: large;
        font-weight: 700;
    }
    
}

@media screen and (min-width: 700px) {
    .nav-left {
        font-size: x-large;
        font-weight: 700;
    }

}